In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'test.csv', 'gender_submission.csv']

In [13]:
read_gender = pd.read_csv('../input/gender_submission.csv')

In [14]:
read_gender.dtypes

PassengerId    int64
Survived       int64
dtype: object

In [16]:
read_train = pd.read_csv('../input/train.csv')

In [17]:
read_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [18]:
read_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
clean_train = read_train.dropna(axis=0)
clean_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [20]:
y = clean_train.Survived
df = pd.concat([clean_train,pd.get_dummies(clean_train['Sex'])],axis=1)
del df['Sex']
df.head()
                
# df = pd.concat([df,pd.get_dummies(df['des']),pd.get_dummies(df['rt'])], axis=1)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51.8625,E46,S,0,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16.7000,G6,S,1,0
11,12,1,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26.5500,C103,S,1,0

In [21]:
df = df[['Pclass','Age','SibSp','Parch','Fare','female','male','PassengerId']]
df.head()

    Pclass   Age  SibSp  Parch     Fare  female  male  PassengerId
1        1  38.0      1      0  71.2833       1     0            2
3        1  35.0      1      0  53.1000       1     0            4
6        1  54.0      0      0  51.8625       0     1            7
10       3   4.0      1      1  16.7000       1     0           11
11       1  58.0      0      0  26.5500       1     0           12

In [22]:
from sklearn import linear_model

In [23]:
model = linear_model.LinearRegression()
model.fit(df,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [46]:
read_test = pd.read_csv('../input/test.csv')
clean_test = read_test.dropna(axis=0)
df_test = pd.concat([clean_test,pd.get_dummies(clean_test['Sex'])],axis=1)
df_test = df_test[['Pclass','Age','SibSp','Parch','Fare','female','male','PassengerId']]

y_model_pred = model.predict(df_test)
# clean_test.head()

df_test
len(y_model_pred)
new_lis=[]
for l in list(y_model_pred):
    new_lis.append(int(l))

new_lis

[1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1]

In [31]:
print('Coefficients: \n', model.coef_)
# The mean squared error
from sklearn.metrics import mean_squared_error, r2_score
# print("Mean squared error: %.2f"
#       % mean_squared_error(clean_test['Survived'], y_model_pred))
# # # Explained variance score: 1 is perfect prediction
# print('Variance score: %.2f' % r2_score(clean_test['Survived'], y_model_pred))

Coefficients:
 [-0.07987271 -0.00629845  0.02551451 -0.05804883  0.0002797   0.23169585
 -0.23169585  0.0002506 ]

In [32]:
read_gender.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [49]:
y_mod = df_test.merge(read_gender)

y_mod['Predicted'] = new_lis

,Pclass,Age,SibSp,Parch,Fare,female,male,PassengerId,Survived,Predicted
0,1,23.0,1,0,82.2667,1,0,904,1,1
1,1,47.0,1,0,61.1750,1,0,906,1,1
2,1,48.0,1,3,262.3750,1,0,916,1,0
3,1,22.0,0,1,61.9792,1,0,918,1,1
4,1,41.0,0,0,30.5000,0,1,920,0,0

In [47]:
print("Mean squared error: %.2f"
      % mean_squared_error(y_mod['Survived'], new_lis))
# # Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_mod['Survived'], new_lis))

Mean squared error: 0.13
Variance score: 0.49

In [43]:
len(y_mod['Survived'])
len(df_test)

87

In [58]:
from sklearn.naive_bayes import GaussianNB

In [51]:
gnb = GaussianNB()

In [52]:
model_gb = gnb.fit(df, y)

In [53]:
preds = gnb.predict(df_test)
print(preds)

[1 1 1 1 0 0 1 0 1 0 1 0 1 1 0 1 0 1 1 1 0 1 1 1 0 1 1 1 0 1 0 0 1 1 0 0 0
 1 1 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 1 0 1 1 1
 0 1 0 0 1 1 1 1 0 0 0 1 1]

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
print(accuracy_score(y_mod['Survived'], preds))

0.9655172413793104